<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    
    <dict>
        <key>Name</key>
        <string>iTaaleem-Tanpura</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/itaaleem-tanpura/id421979735</string>
        <key>ImageName</key>
        <string>iTaaleem-Tanpura.png</string>
    </dict>
    
    <dict>
        <key>Name</key>
        <string>iPooja Satyanarayan Hindi</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/ipooja-satyanarayan-hindi/id479506238</string>
        <key>ImageName</key>
        <string>ipooja.png</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Shri Sai Stuti</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/shri-sai-stuti-various-prayers/id625128908</string>
        <key>ImageName</key>
        <string>ShriSaiStuti.png</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Ganapati Atharvashirsha</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/ganapati-atharvashirsha-by/id699481885</string>
        <key>ImageName</key>
        <string>Ganapati Atharvashirsha.png</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>Various Shiv Mantras</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/various-shiv-mantras-by-suresh/id704331998</string>
        <key>ImageName</key>
        <string>Various Shiv Mantras.png</string>
    </dict>
    
    <dict>
        <key>Name</key>
        <string>Various Ganesh Mantras
        </string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/various-ganesh-mantras-by/id700680356</string>
        <key>ImageName</key>
        <string>Various Ganesh Mantras.png</string>
    </dict>
    
    <dict>
        <key>Name</key>
        <string>Pancha Sooktam</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/pancha-sooktam-free-prayer/id414629034</string>
        <key>ImageName</key>
        <string>Pancha Sooktam.png</string>
    </dict>
    
    <dict>
        <key>Name</key>
        <string>Shri Rudram Lesson </string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/shri-rudram-lesson-free-hymn/id415452886</string>
        <key>ImageName</key>
        <string>Shri Rudram Lesson.png</string>
    </dict>
    <dict>
        <key>Name</key>
        <string>iPooja Satyanarayan Marathi</string>
        <key>Link</key>
        <string>https://itunes.apple.com/us/app/ipooja-satyanarayan-marathi/id355258730</string>
        <key>ImageName</key>
        <string>ipooja.png</string>
    </dict>

<dict>
    <key>Name</key>
    <string>iChant</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant/id393501381</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>

<dict>
    <key>Name</key>
    <string>Vishnu Sahasranaam</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/vishnu-sahasranaam-1000-names/id355348340</string>
    <key>ImageName</key>
    <string>Vishnu-Sahasranaam.png</string>
</dict>
<dict>
    <key>Name</key>
    <string>Shri Sai Aradhana</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/shri-sai-aradhana-free-mantras/id654703083</string>
    <key>ImageName</key>
    <string>Shri Sai Aradhana.png</string>
</dict>

<dict>
    <key>Name</key>
    <string>Shri Laxmi Pooja (Diwali pooja)</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/shri-laxmi-pooja-diwali-pooja/id731391128</string>
    <key>ImageName</key>
    <string>Shri Laxmi Pooja.png</string>
</dict>
<dict>
    <key>Name</key>
    <string>Shri Mahalaxmi Suprabhatam, Mantra and Sahasranaam</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/shri-mahalaxmi-suprabhatam/id712112078</string>
    <key>ImageName</key>
    <string>Shri Mahalaxmi Suprabhatam.png</string>
</dict>

<dict>
    <key>Name</key>
    <string>iDasbodh</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/idasbodh/id582957594</string>
    <key>ImageName</key>
    <string>iDasbodh.png</string>
</dict>

	<dict>
		<key>Name</key>
		<string>iPooja Satyanarayan Gujrati</string>
		<key>Link</key>
		<string>https://itunes.apple.com/us/app/ipooja-satyanarayan-gujrati/id480090173</string>
		<key>ImageName</key>
		<string>ipooja.png</string>
	</dict>
    
    <dict>
		<key>Name</key>
		<string>iSushravya</string>
		<key>Link</key>
<string>https://itunes.apple.com/us/app/isushravya/id477424571</string>
		<key>ImageName</key>
		<string>iSushravya.png</string>
	</dict>





<dict>
    <key>Name</key>
    <string>iChant - Atharvashirsha</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant-atharvashirsha/id354151442</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>


<dict>
    <key>Name</key>
    <string>iChant - Naam Ghosh</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant-naam-ghosh-rendering/id353834431</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>







<dict>
    <key>Name</key>
    <string>iPooja Satyanarayan and Ganpati Pooja</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ipooja-satyanarayan-ganpati/id355389118</string>
    <key>ImageName</key>
    <string>ipooja.png</string>
</dict>


<dict>
    <key>Name</key>
    <string>iChant - Shri Ram Upasana</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant-shri-ram-upasana/id362472081</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>


<dict>
    <key>Name</key>
    <string>iChant - Shiv Ganesh Upasana</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant-shiv-ganesh-upasana/id362475590</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>




<dict>
    <key>Name</key>
    <string>iChant Soul</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ichant-soul/id375314504</string>
    <key>ImageName</key>
    <string>ichant.png</string>
</dict>
<dict>
    <key>Name</key>
    <string>Car Pooja</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/car-pooja/id496474785</string>
    <key>ImageName</key>
    <string>Car-Pooja</string>
</dict>

<dict>
    <key>Name</key>
    <string>Marathi Abhimaan Geet</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/marathi-abhimaan-geet/id368373713</string>
    <key>ImageName</key>
    <string>Marathi Abhimaan Geet.png</string>
</dict>





<dict>
    <key>Name</key>
    <string>Durgasaptashati Pathan</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/durgasaptashati-pathan/id720656297</string>
    <key>ImageName</key>
    <string>Durgasaptashati Pathan.png</string>
</dict>
<dict>
    <key>Name</key>
    <string>iKarvaChauth</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ikarvachauth/id394878723</string>
    <key>ImageName</key>
    <string>iKarvaChauth.png</string>
</dict>








<dict>
    <key>Name</key>
    <string>iGurucharitra</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/igurucharitra-life-story-shri/id582964070</string>
    <key>ImageName</key>
    <string>iGurucharitra.png</string>
</dict>

<dict>
    <key>Name</key>
    <string>iPooja Satyanarayan Gujrati</string>
    <key>Link</key>
    <string>https://itunes.apple.com/us/app/ipooja-satyanarayan-gujrati/id480090173</string>
    <key>ImageName</key>
    <string>ipooja.png</string>
</dict>













	</array>
</plist>
