<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Maa Vaishno Devi Amrit Vani</string>
	<string>packageIcon</string>
	<string>com.zenagestudios.ichant.Maa Vaishno Devi Amrit Vani Part</string>
	<string>1.0</string>
	<string>paid</string>
	<array/>
	<array/>
</array>
</plist>
